.videoSobre {
  width: 50%;
  height: 300px;
}

@media (max-width: 360px) {
  .videoSobre {
    width: 90%;
  }
}

@media (max-width: 414px) {
  .videoSobre {
    width: 70%;
    height: 100px;
  }
}

@media (max-width: 720px) {
  .videoSobre {
    width: 60%;
    height: 200px;
  }
}
