#buscarOA {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#buscarOA > .form-group > input {
  width: 90%;
  font-size: 1.25rem;
}

@media (max-width: 414px) {
  #buscarOA {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #buscarOA > .form-group > input {
    width: 85%;
  }
}
