.btn-dark-blue {
  color: #fff;
  background-color: #0000cd;
  border-color: #0000cd;
}

.btn-primary {
  color: #fff;
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}

.bg-primary {
  background-color: #2196f3 !important;
}

.text-primary {
  color: #2196f3 !important;
}

.btn-link {
  font-weight: 400;
  color: #2196f3;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.conteudo {
  background-image: url("./recursos/img/bg.jpeg");
  min-height: 100vh;
}

.overlay {
  padding-top: 2%;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.overlay > i {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.w-70 {
  width: 70% !important;
}

.w-15 {
  width: 15% !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #2196f3;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #2196f3;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
