.btn-dark-blue {
  color: #fff;
  background-color: #0000cd;
  border-color: #0000cd;
}

.btn-primary {
  color: #fff;
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}

.bg-primary {
  background-color: #2196f3 !important;
}

.text-primary {
  color: #2196f3 !important;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.conteudo {
  background-image: url("./recursos/img/bg.jpeg");
  min-height: 100vh;
}
